{{define "questions"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Gamer's Trial</title>
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/questions.css" />
</head>
<body>
    <div class="question-header">
        <img src="/static/img/logo.png" alt="Question" class="question-image" />
        <p class="question-text">Ici la question</p>
    </div>
    
    <div class="answers-container">
        <div class="answer-option">Réponse 1</div>
        <div class="answer-option">Réponse 2</div>
        <div class="answer-option">Réponse 3</div>
        <div class="answer-option">Réponse 4</div>
    </div>
</body>
</html>
{{end}}